<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
  <script>
    var userName = "";
    var productName = "";
    var ticketsStatus = new Object();
    var ticketPresenceChannels = new Object();
    var currentStatus = null;
    var urlParams = new URLSearchParams(window.location.search);
    var serverUrl = 'https://fathomless-gorge-79203.herokuapp.com';
    //var serverUrl = 'http://b24e3ea8.ngrok.io';

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = null;
    var ticketPresenceChannelPrefix = "presence-users-on-resource-ticket-";
    var productPresenceChannelPrefix = "presence-user-on-product-";
    var userStatusChangePrefix = "private-user-status-changed-on-";
    var usersStatusChannel = null;

    $( function() {
        $( "#tabs" ).tabs();
        $( "#menu" ).tabs();

        userName = (urlParams.has('user')) ? urlParams.get('user') : prompt("Please enter your name", "");
        productName = (urlParams.has('product')) ? urlParams.get('product') : prompt("Please a product name", "");
        $('#lblStatus').html(userName + " status on " + productName + ":");
        startPusher();
    } );

    function statusChanged(newStatus) {
        usersStatusChannel.trigger('client-status-changed', { user: userName, status: newStatus, product: productName });
    }

    function startPusher() {
        pusher = new Pusher('ab8cf6e917558807f315', {
            cluster: 'eu',
            encrypted: true,
            authEndpoint: serverUrl+'/api/pusher/auth',
            auth: {
            headers: {
              'X-CSRF-Token': userName
            }
          }
        });

        usersStatusChannel = pusher.subscribe(userStatusChangePrefix+productName);
        usersStatusChannel.bind('client-status-changed', function(data) {
            updateUserConnected(data.user, data.status);
        });

        pusher.subscribe(productPresenceChannelPrefix+productName+"-"+userName);
        refreshUsers();
    }

    function updateUserConnected(user, status) {
        if (user == userName || user == 'undefined') return;

        var liID = "user-"+user+"-connected";
        var ulID = "connected-users";

        if (status == 'offline') {
            $("#"+liID).remove();
        } else {
            var liContent = user + " (" + status + ")";
            if ($("#"+liID).length == 0) {
                $("#"+ulID).append("<li id='"+liID+"'>"+liContent+"</li>");
            } else {
                $("#"+liID).html(liContent);
            }
        }
    }

    function updateMemberOnTicket(member, ticket) {
        var memberName = member.info.name;
        if (memberName == userName) return;
        var liID = "user-"+memberName+"-on-ticket"+ticket;
        if ($("#"+liID).length == 0) {
            var ulID = "usersOn"+ticket;
            $("#"+ulID).append("<li id='"+liID+"'>"+memberName+"</li>");
        }
    }

    function removeMemberFromTicket(member, ticket) {
        var memberName = member.info.name;
        if (memberName == userName) return;
        var liID = "user-"+memberName+"-on-ticket"+ticket;
        $("#"+liID).remove();
    }

    function ticketContentChange(ticket, content) {
        var status = ticketsStatus[ticket];

        if (content != "" && status!="editing") {
            ticketsStatus[ticket] = "editing";
            ticketPresenceChannels[ticket].trigger('client-editing', { user: userName });
        }

        if (content == "" && status=="editing") {
            ticketsStatus[ticket] = "viewing";
            ticketPresenceChannels[ticket].trigger('client-viewing', { user: userName });
        }
    }

    function subscribeToTicket(ticket) {
        var presenceChannel = pusher.subscribe(ticketPresenceChannelPrefix+ticket);
        ticketPresenceChannels[ticket] = presenceChannel;

        presenceChannel.bind('pusher:subscription_succeeded', function(members) {
          members.each(function(member) {
            updateMemberOnTicket(member, ticket);
          });
        })

        presenceChannel.bind('pusher:member_added', function(member) {
            updateMemberOnTicket(member, ticket);
        });

        presenceChannel.bind('pusher:member_removed', function(member) {
            removeMemberFromTicket(member, ticket);
        });

        presenceChannel.bind('client-editing', function(data) {
            var liID = "user-"+data.user+"-on-ticket"+ticket;
            $("#"+liID).html(data.user+" <strong>(editing)</strong>");
        });

        presenceChannel.bind('client-viewing', function(data) {
            var liID = "user-"+data.user+"-on-ticket"+ticket;
            $("#"+liID).html(data.user);
        });
    }

    function unsubscribeFromTicket(ticket) {
        pusher.unsubscribe(ticketPresenceChannelPrefix+ticket);
    }

    function openTicket(ticket) {
        var lnkId = "lnkTk"+ticket;

        if ($('#'+lnkId).length == 0) {
            $("#tickets").append("<li id='li"+lnkId+"'><a id="+lnkId+" href='#tk-"+ticket+"'>Ticket #"+ticket+"</a></li>");
            $('#tabs').append("<div id='tk-"+ticket+"'><div style='float: left; width: 20%; background-color: #f5f5f5;'><p>Also on this ticket</p><ul name='usersOn"+ticket+"' id='usersOn"+ticket+"'></ul></div><div style='float: right; width: 75%;'>Content of Ticket #"+ticket+"<br/><textarea onkeyup='javascript: ticketContentChange("+ticket+", $(\"#content"+ticket+"\").val());' style='width: 100%;' id='content"+ticket+"' name='content"+ticket+"'></textarea><button onclick='javascript: closeTicket("+ticket+");'>Close Ticket</button></div></div>");
            $( "#tabs" ).tabs("refresh");
            var n = $('#tickets > li').size();
            $( "#tabs" ).tabs("option", "active", n-1);
            subscribeToTicket(ticket);
        } else {
            $('#'+lnkId).click();
        }
    }

    function closeTicket(ticket) {
        var lnkId = "lnkTk"+ticket;
        $("#li"+lnkId).remove();
        $("#tk-"+ticket).remove();
        unsubscribeFromTicket(ticket);
        $( "#tabs" ).tabs("refresh");
    }

    function refreshUsers() {
        var xmlHttp = new XMLHttpRequest();
        $('#connected-users').html("");
        xmlHttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                users = JSON.parse(this.responseText);
                for (i = 0; i < users.length; i++) {
                    updateUserConnected(users[i].name, users[i].status);
                }
            }
        };

        xmlHttp.open( "GET", serverUrl+'/api/channel/'+productName+'/users', true); // false for synchronous request
        xmlHttp.send( null );
    }
  </script>
</head>
<body>

<div id="menu" style="float: left; width: 18%;">
    <ul>
        <li><a href="#menu-1">Menu</a></li>
        <li><a href="#users">Users</a></li>
    </ul>
    <div id="menu-1">
        <label for="ticket">Open ticket #:</label>
        <input name="ticket" id="ticket" value="" />
        <button onclick="javascript: openTicket($('#ticket').val());">Open</button>

        <br /><br />
        <label id="lblStatus" for="status">Status:</label>
        <br/>
        <select name="status" id="status" onchange="javascript: statusChanged($(this).val());">
            <option value="available">Available</option>
            <option value="busy">Busy</option>
            <option value="away">Away</option>
            <option value="meeting">Meeting</option>
            <option value="lunch">Lunch</option>
        </select>
    </div>
    <div id="users">
        <button onclick="javascript: refreshUsers();">refresh</button>
        <ul id="connected-users">
        </ul>
    </div>
</div>

<div id="tabs" style="float: right; width: 80%;">
  <ul id="tickets">
  </ul>
</div>
</body>
